@page "/playlist/{PlaylistId:long}"
@attribute [Authorize]

@using Chinook.ClientModels;
@using Chinook.Models
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims;

<h1>Playlist <strong>@Playlist.Name</strong></h1>

@if (!string.IsNullOrWhiteSpace(InfoMessage))
{
    <div class="alert alert-info fade show">
        <div class="d-flex align-items-start">
            <div class="flex-grow-1">
                @InfoMessage
            </div>
            <button type="button" class="btn-close" aria-label="Close" @onclick="CloseInfoMessage"></button>
        </div>
    </div>
}

@if (Playlist == null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Track</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Playlist.Tracks)
            {
                <tr>
                    <td>@track.ArtistName - @track.AlbumTitle - @track.TrackName</td>
                    <td>
                        <div class="d-flex">
                            @if (Playlist.Name != "My favorite tracks")
                            {
                                <button class="m-1" title="Toggle favorite" @onclick="@(() => ToggleFavoriteTrack(track.TrackId, !track.IsFavorite))">
                                    <i class="bi @(track.IsFavorite ? "bi-star-fill" : "bi-star")"></i>
                                </button>
                            }
                            <a href="#" class="m-1" title="Remove from this playlist" @onclick="@(() => RemoveTrack(track.TrackId))" @onclick:preventDefault><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public long PlaylistId { get; set; }
    [Inject] private Services.IPlaylistService PlaylistService { get; set; }
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }

    private PlayList Playlist;
    private string CurrentUserId;
    private string InfoMessage;


    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await GetUserId();
        await InvokeAsync(StateHasChanged);
        await LoadPlaylist();
    }

    private async Task<string> GetUserId()
    {
        var user = (await authenticationState).User;
        var userId = user.FindFirst(u => u.Type.Contains(ClaimTypes.NameIdentifier))?.Value;
        return userId;
    }

    private async Task ToggleFavoriteTrack(long trackId, bool favorite)
    {
        try
        {
            var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);
            if (favorite)
            {
                await PlaylistService.AddFavoriteTrackAsync(CurrentUserId, trackId);
                InfoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} added to playlist Favorites.";
            }
            else
            {
                await PlaylistService.UnFavoriteTrackAsync(CurrentUserId, trackId);
                InfoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} removed from playlist Favorites.";
            }
            await LoadPlaylist();
        }
        catch (InvalidOperationException ex)
        {
            InfoMessage = ex.Message;
        }
        catch (Exception ex)
        {
            InfoMessage = ex.Message;
        }
    }

    private async Task RemoveTrack(long trackId)
    {
        try
        {
            var track = Playlist.Tracks.FirstOrDefault(t => t.TrackId == trackId);
            await PlaylistService.RemoveTrackFromPlaylistAsync(trackId, PlaylistId);
            await LoadPlaylist();
            CloseInfoMessage();
            InfoMessage = $"Track {track?.ArtistName} - {track?.AlbumTitle} - {track?.TrackName} removed from playlist.";
        }
        catch (InvalidOperationException ex)
        {
            InfoMessage = ex.Message;
        }
        catch (Exception ex)
        {
            InfoMessage = ex.Message;
        }
    }

    private void CloseInfoMessage()
    {
        InfoMessage = "";
    }

    private async Task LoadPlaylist()
    {
        try 
        { 
            Playlist = await PlaylistService.GetPlaylistAsync(CurrentUserId, PlaylistId); 
        }
        catch (Exception ex)
        {
            throw;
        }
    }
}
